In [57]:
import pandas as pd
import numpy as np

In [58]:
data = pd.read_csv('taxi_trip_pricing.csv')
data.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [59]:
data.shape

(1000, 11)

In [60]:
data = data.dropna()

In [61]:
data.isna().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [62]:
data.shape

(562, 11)

In [63]:
data.dtypes

Trip_Distance_km         float64
Time_of_Day               object
Day_of_Week               object
Passenger_Count          float64
Traffic_Conditions        object
Weather                   object
Base_Fare                float64
Per_Km_Rate              float64
Per_Minute_Rate          float64
Trip_Duration_Minutes    float64
Trip_Price               float64
dtype: object

In [64]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

oe = OrdinalEncoder()
le = LabelEncoder()
data['Time_of_Day'] = le.fit_transform(data['Time_of_Day'].values.reshape((-1,1)))
data['Day_of_Week']  = le.fit_transform(data['Day_of_Week'].values.reshape((-1,1)))
data['Traffic_Conditions'] = oe.fit_transform(data['Traffic_Conditions'].values.reshape((-1,1)))
data['Weather'] = oe.fit_transform(data['Weather'].values.reshape((-1,1)))
data.shape

/Users/bhagya/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/bhagya/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(562, 11)

In [65]:
data.corr()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
Trip_Distance_km,1.000000,-0.013837,-0.052807,-0.034928,-0.106316,-0.018755,0.011602,0.009526,-0.051541,-0.012714,0.862965
Time_of_Day,-0.013837,1.000000,-0.014570,0.026880,-0.007814,-0.005159,0.084008,0.039006,-0.025430,0.016992,-0.002766
Day_of_Week,-0.052807,-0.014570,1.000000,0.008183,0.034473,0.041569,0.010148,-0.070712,-0.019182,-0.026843,-0.066792
Passenger_Count,-0.034928,0.026880,0.008183,1.000000,0.001443,0.053266,0.082952,0.109527,0.085722,0.043815,0.015793
Traffic_Conditions,-0.106316,-0.007814,0.034473,0.001443,1.000000,0.073950,-0.021487,0.029847,0.002854,-0.002221,-0.109504
Weather,-0.018755,-0.005159,0.041569,0.053266,0.073950,1.000000,-0.056393,0.042454,-0.010524,0.086299,0.005860
Base_Fare,0.011602,0.084008,0.010148,0.082952,-0.021487,-0.056393,1.000000,0.019944,-0.018082,0.055816,0.030897
Per_Km_Rate,0.009526,0.039006,-0.070712,0.109527,0.029847,0.042454,0.019944,1.000000,0.018978,0.077103,0.278268
Per_Minute_Rate,-0.051541,-0.025430,-0.019182,0.085722,0.002854,-0.010524,-0.018082,0.018978,1.000000,-0.018742,0.110967
Trip_Duration_Minutes,-0.012714,0.016992,-0.026843,0.043815,-0.002221,0.086299,0.055816,0.077103,-0.018742,1.000000,0.221717
Trip_Price,0.862965,-0.002766,-0.066792,0.015793,-0.109504,0.005860,0.030897,0.278268,0.110967,0.221717,1.000000

In [66]:
X = data.drop(['Trip_Price'], axis = 1)
y = data['Trip_Price']
X.shape, y.shape

((562, 10), (562,))

In [67]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [68]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
pred = lr.predict(X_test)

In [69]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, pred)
r2

0.883374973392942